* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.banner-container {
    position: relative;
}

.banner-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
}

.navbar__logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar__logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar__logo h1 {
    font-size: 23px;
    color: white;
    margin: 0;
    line-height: 1.2;
}

.navbar__logo p {
    font-size: 12px;
    color: white;
    margin: 0;
    line-height: 1.2;
}

.navbar__menubar ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

.navbar__menubar a {
    text-decoration: none;
    color: white;
}

.navbar__menubar a:hover {
    text-decoration: underline;
}

.navbar__sign-in {
    background-color: transparent;
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar__menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.mini-content {
    position: absolute;
    top: 200px;
    left: 20px;
    padding: 10px 20px;
    color: white;
}

.mini-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.start-journey {
    background-color: teal;
    color: white;
    border: solid teal 1px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.arrow {
    margin-left: 8px;
}

.search-items {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;

    border: solid black 2px;
    border-radius: 10px;
    border-color: white;
    padding: 15px;
    width: 95%;
    height: 80px;
    gap: 8px;

    position: sticky;
    top: 0;
    z-index: 1;

    margin: 0 auto;
    margin-top: -45px;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.search__logo,
.search__checkbox,
.search__traveler {
    border-radius: 10px;
    border: solid black 1px;
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}

.search__logo input,
.search__checkbox input {
    border: none;
    outline: none;
    display: flex;
    width: 100%;
}

.search__option {
    border: none;
    outline: none;
    display: flex;
    width: 100%;
}

.search-bar__mobile {
    display: flex;
    align-items: center;
    background-color: rgb(2, 68, 68);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.Featured-Destinations {
    padding: 20px;
}

.country-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.country-heading p {
    color: rgb(116, 192, 252);
    margin-left: auto;
}

.countries {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;
}

.country1 img,
.country2 img,
.country3 img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.country1 h3,
.country2 h3,
.country3 h3 {
    padding: 5px;
}

.country1__info,
.country2__info,
.country3__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.country1__info button,
.country2__info button,
.country3__info button {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: rgb(116, 192, 252);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.Popular-Hotels {
    padding: 20px;
}

.hotel-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hotel-heading p {
    color: rgb(215, 70, 231);
    margin-left: auto;
}

.hotels {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;
}

.hotel1 img,
.hotel2 img,
.hotel3 img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hotel1 h3,
.hotel2 h3,
.hotel3 h3 {
    padding: 5px;
}

.hotel1__info,
.hotel2__info,
.hotel3__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.hotel1__info p,
.hotel2__info p,
.hotel3__info p {
    color: blue;
}

.hotel1__info button,
.hotel2__info button,
.hotel3__info button {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: rgb(215, 70, 231);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.Top-Restaurants {
    padding: 20px;
}

.restaurant-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.restaurant-heading p {
    color: rgb(240, 190, 87);
    margin-left: auto;
}

.restaurants {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 25px;
}

.restaurant1 img,
.restaurant2 img,
.restaurant3 img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.restaurant1 h3,
.restaurant2 h3,
.restaurant3 h3 {
    padding: 5px;
}

.restaurant1__info,
.restaurant2__info,
.restaurant3__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.restaurant1__info button,
.restaurant2__info button,
.restaurant3__info button {
    display: flex;
    align-items: center;
    gap: 5px;

    background-color: rgb(240, 190, 87);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.footer {
    background-color: black;
    color: white;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__logo img {
    width: 60px;
    height: 10%;
    object-fit: contain;
}

.footer__logo h3 {
    font-size: 23px;
    color: white;
    margin: 0;
    line-height: 1.5;
}

.footer__logo p {
    font-size: 12px;
    color: white;
    margin: 0;
    line-height: 1.5;
}

.footer__logo i {
    padding: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footer__list-2 h3,
.footer__list-3 h3,
.footer__list-4 h3,
.footer__list-5 h3 {
    margin-bottom: 10px;
    margin-top: 15px;
}

.footer__list-2 a,
.footer__list-3 a,
.footer__list-4 a {
    margin-bottom: 5px;
    display: flex;
    text-decoration: none;
    color: white;
}

.footer__list-5 p {
    margin-bottom: 10px;
}

.footer__list-5 input {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer__list-5 button {
    padding: 5px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer__bottom {
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:700px) {

    .navbar__menubar,
    .sign-in {
        display: none;
    }

    .navbar__menu-icon {
        display: block;
    }
}

@media screen and (max-width:700px) {

    .search__logo,
    .search__checkbox,
    .search__traveler {
        display: none;
    }

    .search-bar__mobile {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .country-heading p {
        display: none;
    }

    .country-heading i h1 {
        display: block;
    }
}

@media screen and (max-width:700px) {

    .country2,
    .country2__info,
    .country3,
    .country3__info {
        display: none;
    }

    .country1 {
        display: block;
    }
}

@media screen and (max-width:700px) {

    .hotel2,
    .hotel2__info,
    .hotel3,
    .hotel3__info {
        display: none;
    }

    .hotel1 {
        display: block;
    }
}

@media screen and (max-width:700px) {

    .restaurant2,
    .restaurant2__info,
    .restaurant3,
    .restaurant3__info {
        display: none;
    }

    .restaurant1 {
        display: block;
    }
}

@media screen and (max-width:700px) {

    .footer__list-2,
    .footer__list-3,
    .footer__list-4,
    .footer__list-5,
    .footer__bottom {
        display: none;
    }

    .footer__list-1 {
        display: block;
    }
}